{
  "CompileFlags": {
    "Add": [
      "-std=c++20",
      "-Wall",
      "-Wextra",
      "-Wpedantic",
      "-Wno-c23-extensions"
    ]
  },
  "Index": {
    "Background": "Build"
  },
  "Completion": {
    "AllScopes": true
  }
}
